<!-- //TODO: PAGINA INDEX DESDE LA RUTA PRUEBA -->
<div>desde prueba</div>

<div class='w-20'>
	<img
		src='/svg/home.svg'
		alt=''
	/>
</div>
<div class='w-20'>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		viewBox='0 -960 960 960'
	>
		<use xlink:href='/svg/home2.svg'></use>
	</svg>
</div>
