---
import BtnParpados from '@/components/botones-sliders/BtnParpados.astro'
---

<div
	class='foot w-full h-full flex flex-col-2 gap-40 justify-center items-center p-4'
>
	<div class='w-full h-full'>
		<div
			class='direccion text-slate-400 w-full h-full flex flex-col justify-center items-start ml-20'
		>
			<p class='mb-4'>
				Auxiliar Manipulodora del Cartón<br />Calle Los Mateos, 1<br />C.P:
				30564 Lorquí (Murcia)<br />T. 968 693 575<br />Fax: 968 693 244<br
				/>Email: administracion@laauxiliar.es
			</p>

			<div class='flex gap-4'>
				<a
					href='https:facebook.com'
					target='_blank'
					><img
						class='w-8'
						src='/svg/redes/facebook-01.svg'
						alt='logo del facebook'
					/></a
				>
				<a
					href='https:youtube.com'
					target='_blank'
					><img
						class='w-12'
						src='/svg/redes/youtube-01.svg'
						alt='logo del facebook'
					/></a
				>
				<style>
					.objetivo {
						target: _blank;
					}
				</style>
			</div>
		</div>
	</div>

	<div
		class='w-full h-full flex flex-col flex-nowrap items-end justify-end p-12'
	>
		<BtnParpados />
	</div>

	<style>
		:global(.light) .foot {
			background-color: #909090;
			color: #202020;
		}
		:global(.light) .direccion {
			color: #202020;
		}
	</style>
</div>
