<a
	class='flex flex-col justify-center items-center'
	href='/contacto'
>
	<span class='actual-text text-[1rem] text-[var(--auxi2)]'
		>&nbsp;968 693 575&nbsp;</span
	>
	<span class='hover-text text-[1rem]'>&nbsp;968 693 575&nbsp;</span>
</a>

<style>
	a {
		letter-spacing: 3px;
		text-wrap: nowrap;
		text-decoration: none;
		font-size: 2.5rem;
		font-family: 'Arial';
		position: relative;
		/* color: transparent; */
		/* -webkit-text-stroke: 1px var(--text-stroke-color); */
	}
	.actual-text {
	}
	/* this is the text, when you hover on button */
	.hover-text {
		position: absolute;
		color: transparent;
		width: 0%;
		inset: 0 0 0 0;
		border-right: 2px solid var(--auxi1);
		overflow: hidden;
		transition: 1s;
		-webkit-text-stroke: 0px var(--auxi1);
		color: var(--auxi1);
		/* mix-blend-mode: multiply; */
	}
	/* hover */
	a:hover .hover-text {
		width: 100%;
	}
</style>
