---
import ToggleTheme from '@/components/ToggleTheme.astro'
import TextoAnimadoTelefono from '@/components/botones-sliders/TextoAnimadoTelefono.astro'
---

<div class='divToggleTheme flex flex-row rounded-lg'>
	<!--  -->
	<!--  -->
	<!-- //!titulos y telefono============== -->
	<div class='divSinNombre flex flex-1 justify-center items-center'>
		<p class='auxi mr-4 text-[var(--auxi1)] text-[1.5rem]'>
			Auxiliar Manipuladora del Cartón
		</p>
		<span class=''>
			<TextoAnimadoTelefono />
		</span>
	</div>
	<!--  -->
	<!--  -->
	<!-- //!theme========================= -->
	<div class='pr-4'>
		<ToggleTheme />
	</div>
</div>

<style>
	:global(.light) .divToggleTheme {
		background-color: #fff;
	}
	.divSinNombre {
		/* <!-- //! OJO!!! el ErasITC no funciona como string --> */
		font-family: ErasITC;
		font-size: 3rem;
		text-wrap: nowrap;
	}
	:global(.light) .auxi {
		color: var(--auxi2);
	}
</style>
