---
import AsideMenu from '@/components/AsideMenu.astro'
import FooterMenu from '@/components/footer/FooterMenu.astro'
import Footer from '@/components/footer/footer-old/Footer.astro'
import HeaderMenu from '@/components/header/HeaderMenu.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/svg/favicon.auxiliar.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class='p-2 body dil-barra-desplazamiento'>
		<!--  -->
		<!--  -->
		<!-- //!!!: ASIDE ================================= -->
		<div
			class='asideMenu bordeVerde p-2 [grid-area:aside] flex flex-col overflow-y-auto w-full'
		>
			<AsideMenu />
		</div>
		<!-- //!!!: ASIDE ================================= -->
		<!--  -->
		<!--  -->
		<!-- //!!!:BODY ================================= -->
		<div
			class='mainMenu p-2 bordeVerde [grid-area:main] overflow-y-auto w-full flex flex-col'
		>
			<!-- //?: header=================================== -->
			<div class='bordeRojo m-2 rounded-lg'>
				<HeaderMenu />
			</div>
			<!-- //?: header=================================== -->
			<slot />
		</div>
		<!-- //!!!:BODY ================================= -->
		<!--  -->
		<!--  -->
		<!-- //!!!: FOOTER ================================= -->
		<div class='footerMenu bordeVerde colorUno p-2 [grid-area:footer] h-[88px]'>
			<FooterMenu />
		</div>
		<div class='bordeRojo [grid-area:aviso] p-2'>
			<Footer />
		</div>
		<!-- //!!!: FOOTER ================================= -->
		<!--  -->
		<!--  -->

		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--auxi1: rgb(223 172 18);
				--auxi2: rgb(0 129 74);
			}
			html {
				font-family: 'CircularStd', system-ui, sans-serif;
				background-color: black;
				color: white;
				background-size: 224px;
			}
			.body {
				display: grid;
				grid-template-areas:
					'aside main main'
					'footer footer footer'
					'aviso aviso aviso';
				grid-template-columns: 350px 1fr;
				grid-template-rows: 1fr auto;
			}
			.light .body {
				background-color: white;
				color: black;
			}
			.asideMenu {
				height: calc(100vh - 104px);
			}
			.mainMenu {
				height: calc(100vh - 104px);
			}

			.bordeRojo {
				border: 1px solid red;
			}
			.tipografia1 {
				font-family: 'ErasITC', 'CircularStd', system-ui, sans-serif;
			}
			.tipografía2 {
				font-family: 'CircularStd', system-ui, sans-serif;
			}
			.bordeVerde {
				border: 1px solid green;
			}
			.colorUno {
				color: var(--auxi1);
			}
			.colorDos {
				color: var(--auxi2);
			}
			@font-face {
				font-family: 'ErasITC';
				src: url('/fonts/ITC Eras Demi.ttf'); /* format('ttf'); */
				/* font-style: normal;
				font-display: swap; */
			}
			@font-face {
				font-family: 'CircularStd';
				src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/fonts/CircularStd-Book.woff2') format('woff2');
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/fonts/CircularStd-Light.woff2') format('woff2');
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: 'CircularStd';
				src: url('/fonts/CircularStd-Black.woff2') format('woff2');
				font-weight: 900;
				font-style: normal;
				font-display: swap;
			}

			.dil-barra-desplazamiento {
				/* Estilos de la barra de desplazamiento */
				scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
				scrollbar-color: #a92020 #0feb03; /* Color de la barra y el fondo de la barra */
			}

			/* Estilos para la barra de desplazamiento */
			.dil-barra-desplazamiento::-webkit-scrollbar {
				width: 12px; /* Ancho de la barra de desplazamiento */
			}

			.dil-barra-desplazamiento::-webkit-scrollbar-thumb {
				background-color: var(
					--auxi1
				); /* Color de la barra de desplazamiento */
			}

			.dil-barra-desplazamiento::-webkit-scrollbar-track {
				background-color: black;
			}

			.light .dil-barra-desplazamiento::-webkit-scrollbar-thumb {
				background-color: var(
					--auxi2
				); /* Color de la barra de desplazamiento */
			}

			.light .dil-barra-desplazamiento::-webkit-scrollbar-track {
				background-color: white;
			}
		</style>
	</body>
</html>
